<h2>Sphinx Document List</h2>

<% if ( @repository == nil || @changeset == nil ) then %>

<p>Sphinx Documents Not Found.</p>

<% elsif ( @repositoryType != nil && @repositoryType == "subversion" ) then %>

<h3> Subversion Repository </h3>

<table class="list_changesets">
<thead>
<tr>

<th>revision</th>
<th>Document</th>
<th>Date</th>
<th>Author</th>
<th>Comment</th>

</tr>
</thead>
<tbody>

<% @changeset.each do |data| %>
<tr class="changeset <%= cycle 'odd', 'even' %>">
<td class="revision"><%= data.revision %> </td>
<td class="showdoc">  <%= link_to('Show Document', :controller => 'sphinx', :action => 'show', :project_id => @projectId, :revision => data.revision ) %>  </td>
<td class="committed_on"><%= format_time(data.committed_on) %></td>
<td class="author"><%=h data.author %></td>
<td class="comments"><%= textilizable(truncate_at_line_break(data.comments)) %></td>
</tr>
<% end %>

</tbody>
</table>



<% elsif ( @repositoryType != nil && @repositoryType == "git" && @extrainfo != nil && @extrainfo['branches'] != nil ) then %>

<h3> Branch </h3>

<table class= "branch_list">
<thead><tr>

<th>Branch name</th>
<th>Document</th>
<th>revision</th>
<th>Date</th>
<th>Author</th>
<th>Comment</th>

</tr></thead>

<tbody>

<% @extrainfo['branches'].each_pair do | branchname, val | %>
<tr class="branchlist <%= cycle 'odd', 'even' %>"> 
<td class="name"> <%= branchname %> </td>
<% @lastscmid = val['last_scmid'] %>
<% if ( @lastscmid == nil ) then %>
<% next %>
<% end %>
<% @binfo = @changeset.select{|cdata| cdata['revision']== @lastscmid } %> 
<td>  <%= link_to('Show Document', :controller => 'sphinx', :action => 'show', :project_id => @projectId, :revision => @lastscmid ) %>  </td>
<td> <%= @lastscmid %> </td>
<td> <%= format_time(@binfo[0].committed_on) %> </td>
<td> <%= @binfo[0].author %> </td>
<td> <%= @binfo[0].comments %> </td>
</tr>
<% end %>

</tbody>
</table>

<br><br>

<% elsif ( @repositoryType && @repositoryType == "mercurial" ) then %>


<h3> Branch </h3>

<table class= "branch_list">
<thead><tr>

<th>Branch name</th>
<th>Document</th>
<th>revision</th>
<th>Date</th>
<th>Author</th>
<th>Comment</th>

</tr></thead>

<tbody>

<% if @branches %>

<% @branches.each do | branchname | %>
<tr class="branchlist <%= cycle 'odd', 'even' %>"> 
<td class="name"> <%= branchname %> </td>

<% @latestChangesets = @repository.latest_changesets([], branchname) %>
<% if @latestChangesets && @latestChangesets.size > 0 %>
<%   @binfo = @latestChangesets[0] %> 
<% else %>
<%   @binfo = nil %>
<% end %>

<% if (@latestChangesets && @binfo) %>

<td>  <%= link_to('Show Document', :controller => 'sphinx', :action => 'show', :project_id => @projectId, :revision => @binfo.revision ) %>  </td>
<td> <%= @binfo.revision %> </td>
<td> <%= format_time(@binfo.committed_on) %> </td>
<td> <%= @binfo.author %> </td>
<td> <%= @binfo.comments %> </td>

</tr>
<% else %>
<td> none </td>
<td> none </td>
<td> none </td>
<td> none </td>
<td> none </td>
</tr>
<% end %>

<% end %>

</tbody>
</table>

<br><br>
<% end %>

<% else %>

<p>Bad Repository Type.</p>

<% end %> 
